.menu-item {
    margin:0;
    li {
        list-style-type:none;
        display:inline;
        .default-padding;
    }
}

.form-item {
    .base-table-full;
    section {
        .child-table;
        width:50%;
        vertical-align:middle;
        .default-padding;
    }
    section:nth-child(1) {
        text-align:right;
    }
}

.journal-item {
    width:15em;
    height:20em;
    background-color:grey;
    float:left;
}