html {
  width: 100%;
}
html body {
  width: 100%;
  margin: 0;
}
html h1 {
  margin: 0.2em auto;
}
html input {
  margin: 0;
}
html label {
  margin: 0;
}
.menu-item {
  margin: 0;
}
.menu-item li {
  list-style-type: none;
  display: inline;
  padding: 0.2em 0.3em;
}
.form-item {
  display: table;
  width: 100%;
}
.form-item section {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding: 0.2em 0.3em;
}
.form-item section:nth-child(1) {
  text-align: right;
}
.journal-item {
  width: 15em;
  height: 20em;
  background-color: grey;
  float: left;
  margin: 0.3em;
}
.journal-item footer ul li {
  list-style-type: none;
  display: inline;
  margin: 0 0.3em;
}
.default-padding {
  padding: 0.2em 0.3em;
}
.base-element {
  width: 100%;
}
.center {
  margin: 0 auto;
}
.base-table-empty {
  display: table;
}
.base-table-full {
  display: table;
  width: 100%;
}
.base-table-content {
  display: table;
  width: 960px;
  margin: 0 auto;
}
.child-table {
  display: table-cell;
}
.child-table-full {
  display: table-cell;
  width: 100%;
}
#front-side-header-element {
  width: 100%;
  background-color: #faf7f7;
}
#front-side-header-element #front-site-header section:nth-child(1) {
  width: 30%;
}
#front-side-header-element #front-site-header section:nth-child(2) h1 {
  text-align: center;
}
#front-side-header-element #front-site-header section:nth-child(3) {
  width: 30%;
  text-align: right;
}
#front-side-header-element #front-site-header section {
  vertical-align: middle;
}
#journal-content section:nth-child(1) {
  width: 80%;
}
#journal-content section:nth-child(1) article header {
  display: block;
  margin: 0.3em 0;
}
#journal-content section:nth-child(1) article section {
  display: block;
  width: 100%;
}
#journal-content section:nth-child(2) {
  width: 20%;
}
